<mat-toolbar color="primary"><span style="margin-left:45%">Automated Parking Lot System</span></mat-toolbar>
<div class="container">
  <form (ngSubmit)="login(parking_places,cars_parked)">
    <div class="form-group">
      <label for="parking_places">Number of Parking places</label>
      <input type="numv=ber" class="form-control" id="parking_places" [(ngModel)]="parking_places" [ngModelOptions]="{standalone: true}"  required>
    </div>

    <div class="form-group">
      <label for="cars_parked">Number of cars parked</label>
      <input type="number" class="form-control" id="cars_parked" [(ngModel)]="cars_parked" [ngModelOptions]="{standalone: true}" >
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
